.centered {
  text-align: center;
}

.tall {
  height: 100%;
  border: 2px dotted red;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5%;
  text-align: center;
}
